/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

ul, li {
  margin:0;
  padding:0;
  list-style-type:none;
}



/* ===== Primary Styles ========================================================
   Author: Francis Tseng (yadonchow.com / @yadonchow)
   ========================================================================== */

$primaryBackground: #5cacf1;
$primaryHover: darken( $primaryBackground, 10% );
$primaryBorder: $primaryHover;
$primaryColor: #fff;
$primaryInactive: lighten( $primaryBackground, 20% );

$megaphoneElHeight: 20px;
$megaphoneElPadding: 10px;
$megaphoneHeight: $megaphoneElHeight + ( 2 * $megaphoneElPadding );

body {
  background:#30313e;
  background-image:url('/img/purty_wood.png');
  text-shadow:1px 1px rgba(0,0,0,0.1);
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

.overlay {
  background:rgba(0,0,0,0.8);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:10;
}

.gamebox {
  display:none;
  position:absolute;
  bottom:0;
  width:100%;
}

header {
  margin:0 2em;
} 

.templates {
  display:none;
}

h1 {
  font-family: 'Berimbau', 'Verdana', 'Geneva', 'Arial', 'Helvetica', 'sans-serif';
  color:#fff;
}

h2 {
  font-size:1.2em;
  margin:0em 0 0.5em 0;
} 
h3 {
  font-size:1em;
  margin:1.5em 0 0.5em 0;
}


.join, .gameselect, .full, .inprogress {
  max-width:1280px;
  margin:0 auto;
  text-align:center;
  width:100%;

  z-index:100;
  position:absolute;
}
  .gameselect, .full, .inprogress { display:none; }

.chat {
  background:rgba(255,255,255,0.8);
  background-image:url('/img/white_texture.png');
  text-shadow:none;
  overflow:hidden;

  -moz-box-shadow:2px 2px 6px rgba(0,0,0,0.2);
  -webkit-box-shadow:2px 2px 6px rgba(0,0,0,0.2);
  box-shadow:2px 2px 6px rgba(0,0,0,0.2);
}

.gamebox {
  -webkit-box-shadow:-2px 0 8px rgba(0,0,0,0.2);
  -moz-box-shadow:-2px 0 8px rgba(0,0,0,0.2);
  box-shadow:-2px 0 8px rgba(0,0,0,0.2);
}

.talkbox {
  background: #fff;

  width: 78%;
  height: 500px;
  padding-bottom: $megaphoneHeight;

  position:relative;
  float:left;

  -moz-box-shadow:1px 1px 6px rgba(0, 0, 0, 0.1), 1px 1px 0px #eee;
  -webkit-box-shadow:1px 1px 6px rgba(0, 0, 0, 0.1), 1px 1px 0px #eee;
  box-shadow:1px 1px 6px rgba(0, 0, 0, 0.1), 1px 1px 0px #eee;
}
  .talktalk {
    padding:2% 2% 0 2%;
    height:97%;
    overflow-y:scroll;
  }

.talk {
  padding: 1em 0;
}

.panel {
  margin-top: 2em;
}

.megaphone {
 border-top:1px solid #ccc; 
 position:absolute;
 bottom:0;
 height: $megaphoneHeight;
 width:100%;
}
  #talky {
    width:91%;
    height:$megaphoneElHeight;
    padding:$megaphoneElPadding 1%;
  }
  #send_talk {
    width:8%;
    min-width:4em;
    height:$megaphoneHeight;
    padding:$megaphoneElPadding 1%;
    position:absolute;
    right:0;
  }

.players {
  width: 22%;
  height:540px;

  float:left;
  text-shadow:1px 1px 0px #fff;
  position:relative;
}
  .players h2 {
    background: $primaryBackground;
    background: #60b3f7; /* Old browsers */
    background: -moz-linear-gradient(top, #60b3f7 0%, #5199d1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#60b3f7), color-stop(100%,#5199d1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #60b3f7 0%,#5199d1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #60b3f7 0%,#5199d1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #60b3f7 0%,#5199d1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #60b3f7 0%,#5199d1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60b3f7', endColorstr='#5199d1',GradientType=0 ); /* IE6-9 */ 

    color:#fff;
    text-shadow:0px -1px 2px rgba(0, 0, 0, 0.2);
    padding:1em;
    border-top:1px solid lighten( $primaryBackground, 20% );
    border-bottom:1px solid darken( $primaryBackground, 10% );
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom:0;
  }

.player {
  padding:0.6em 1em;
  border-top:1px solid #fff;
  border-bottom:1px solid #DDD;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 1px 7px rgba(0,0,0,0.1);
  -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 1px 7px rgba(0,0,0,0.1);
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 1px 7px rgba(0,0,0,0.1);
}
  .player img, .error img {
    margin-bottom: 4px;
  }


.panel {
  background:#30313E;
  color:#fff;
  border-top:1px solid black;
  border-bottom:1px solid #BABBCA;
  text-shadow:0 -1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:inset 1px 1px 4px rgba(0,0,0,0.6);
  -moz-box-shadow:inset 1px 1px 4px rgba(0,0,0,0.6);
  box-shadow:inset 1px 1px 4px rgba(0,0,0,0.6);

  position:absolute;
  bottom:0;
  width:100%;
}
  .panel li {
    padding:1em 1em 0 1em;
  }
  .panel .startitup {
    padding:0;
    margin-top:1em;

    -webkit-box-shadow:0px -1px 8px rgba(0,0,0,0.4);
    -moz-box-shadow:0px -1px 8px rgba(0,0,0,0.4);
    box-shadow:0px -1px 8px rgba(0,0,0,0.4);
  }
    .startgame {
      width:100%;
      height:39px;
    }

.typing {
  color:#ccc !important;
  font-size:0.8em;
  display:none;
}

.error {
  background: #DA3737;
  padding:1em;
  text-shadow:1px 1px rgba(0,0,0,0.2);
  color:#fff;
  border-bottom:1px solid #545454;

  -webkit-box-shadow:inset 0px 0px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:inset 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow:inset 0px 0px 6px rgba(0, 0, 0, 0.4);
}

/* ===================================
   Form Elements
   =================================== */

input, button {
  border:none;
  padding:0.6em;
}

input {
  -webkit-box-shadow:inset 1px 1px 4px rgba(0,0,0,0.2);
  -moz-box-shadow:inset 1px 1px 4px rgba(0,0,0,0.2);
  box-shadow:inset 1px 1px 4px rgba(0,0,0,0.2);
}

button, .ready {
  background: $primaryBackground;
  background: #60b3f7; /* Old browsers */
  background: -moz-linear-gradient(top, #60b3f7 0%, #5199d1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#60b3f7), color-stop(100%,#5199d1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #60b3f7 0%,#5199d1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #60b3f7 0%,#5199d1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #60b3f7 0%,#5199d1 100%); /* IE10+ */
  background: linear-gradient(to bottom, #60b3f7 0%,#5199d1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60b3f7', endColorstr='#5199d1',GradientType=0 ); /* IE6-9 */ 
  color: $primaryColor;

  font-family: 'Gibson', 'Verdana', 'Geneva', 'Arial', 'Helvetica', 'sans-serif';
  font-weight: bold;
  text-transform:uppercase;

  -webkit-box-shadow:inset 1px 1px rgba(255,255,255,0.4);
  -moz-box-shadow:inset 1px 1px rgba(255,255,255,0.4);
  box-shadow:inset 1px 1px rgba(255,255,255,0.4);



  &:hover {
    background: $primaryHover;
  }
}

.inactive {
  background: $primaryInactive;
  &:hover {
    background: $primaryInactive;
  }
}

.go {
  background:green;
  &:hover {
    background: darken(green, 4%);
  }
  &:active {
    margin-top: 1px;
  }
}

.ready {
  cursor: pointer;
  text-shadow: none;
  display:inline-block;
  padding:0.2em 0.4em;
  margin: 0.8em 0.3em;
}


/* ===================================
   Fonts
   =================================== */

/*
Font:     Berimbau Bold BASIC
Style:    BoldBASIC
URL:    http://www.youworkforthem.com/product.php?sku=T1960
Foundry:  PintassilgoPrints
Foundry:  http://www.youworkforthem.com/designer/106/pintassilgoprints
Copyright:  By PintassilgoPrints, 2011. All rights reserved. www.pintassilgoprints.
Version:  1.1
Created:  July 23, 2012
License:  http://www.youworkforthem.com/font-license 
License:  The WebFont(s) listed in this document must follow the YouWorkForThem
      WebFont license rules. All other parties are strictly restricted 
      from using the WebFonts(s) listed without a purchased license. 
      All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
  font-family: 'Berimbau';
  src: url('/fonts/berimbau-bold-basic.eot');
  src: url('/fonts/berimbau-bold-basic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/berimbau-bold-basic.woff') format('woff'),
       url('/fonts/berimbau-bold-basic.ttf') format('truetype'),
       url('/fonts/berimbau-bold-basic.svg#ywftsvg') format('svg');
  font-weight: bold;
  font-style: normal;
}

/*
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Canada Type
 * License URL: http://www.fontspring.com/fflicense/canada-type
 *
 *
 */

@font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-Light-webfont.eot');
    src: url('/fonts/Gibson-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-Light-webfont.woff') format('woff'),
         url('/fonts/Gibson-Light-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-Light-webfont.svg#GibsonLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-SemiBold-webfont.eot');
    src: url('/fonts/Gibson-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-SemiBold-webfont.woff') format('woff'),
         url('/fonts/Gibson-SemiBold-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-SemiBold-webfont.svg#Gibson') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-Regular-webfont.eot');
    src: url('/fonts/Gibson-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-Regular-webfont.woff') format('woff'),
         url('/fonts/Gibson-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-Regular-webfont.svg#Gibson') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-Italic-webfont.eot');
    src: url('/fonts/Gibson-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-Italic-webfont.woff') format('woff'),
         url('/fonts/Gibson-Italic-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-Italic-webfont.svg#Gibson') format('svg');
    font-weight: normal;
    font-style: italic;
}




/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 960px) {

  .talkbox,
  .players {
    float:none;
    width:100%;
  }

}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
